<a href="https://colab.research.google.com/github/rk928/Ranjit-Kumar/blob/main/Ranjit_Umer_Copy_of_ENVS_617_week_7_scav_hunt_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#YOU NEED TO MAKE YOUR OWN COPY OF THIS DOCUMENT TO RUN CODE!
*Go to File > Save a Copy in Drive*

# Data QA Scavenger Hunt

Today, we use USGS water use census data. Today, we're going to go on a data tidying and data QA scavenger hunt with a subset of the data from 2010 and 2015.


All we've done is combine the datasets from 2010 and 2015 and select a subset of the columns. We haven't altered the data in any other way! This is real world data.


**Your task today is to find as many initial data tidying or data QA issues as you can.** Let's imagine we're preparing this data for an exploratory analysis of the change in per capita water use between 2010 and 2015 by county. Data QA should be a continuous process, but we can do a lot of checks and corrections right off the bat.

List the issues you find in the "Data Clean Up Todos" section. Then, clean/correct the issue, and keep on hunting.


**Recommendations:**
A new dataset can be overwhelming. Start by orienting to the data and making of list of the checks you want to perform. Then, start tackling the data checks. (Remember to use comments/text block to organize your work!) In the process you may revise your initial list of checks.

If you need some inspiration, here are some possible questions to get you started (this is by no means comprehensive):

*   Are county and state names and codes consistent?
*   Are column datatypes correct?
*   Do we have missing data?
*   Do we have duplicated data?
*   Explore small and large outliers. You may do some quick research on the county to see if things look reasonable (This is usually fascinating...)
*   Explore the relationships between fields - do columns add up the way you would expect?


**The section below links to the data and gives a description of the fields. Happy hunting!**

## USGS Water Use Census Dataset
Every 5 years, the USGS publishes an estimate of water use (by source and application) by county. We'll be using two datasets:

* 2015 (v2.0):
  * Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2018, Estimated Use of Water in the United States County-Level Data for 2015 (ver. 2.0, June 2018): U.S. Geological Survey data release, https://doi.org/10.5066/F7TB15V5 [September 2021]
  * You can read about the 2015 data [here](https://www.sciencebase.gov/catalog/item/get/5af3311be4b0da30c1b245d8)

* 2010
  * *No citation provided*
  * You can read about the 2010 data [here](https://water.usgs.gov/watuse/data/2010/)

In the dataset linked below, all we've done is combine the 2010 and 2015 data on top of each other with a row for every county in each year's dataset (we used `pd.concat()`). Then, we subset the data to include the following fields:

* `STATE` - name of the state the county is in
* `STATEFIPS` - the US govenrment gives every state (or territory, etc.) a standardized, unique, 2-digit State FIPS code to encode the state. These are very consistent in time.
*	`COUNTY` - the name of the county
*	`COUNTYFIPS` - likewise, the US govenrment gives every county (or equivalent) a standardized, 3-digit County FIPS code to encode the county in the state. The code is unique to the state. On rare occasions, there are adjustments to these codes over time.
* `FIPS` - the 2-digit State FIPS and 3-digit County FIPS combine to form one 5-digit FIPS code that is unique.
*	`YEAR` - year of the census estimates
*	`TP-TotPop` - Total population of area, in thousands
* `PS-GWPop` - Public Supply, population served by groundwater, in thousands
* `PS-SWPop` - Public Supply, population served by surface water, in thousands
* `PS-TOPop` - Public Supply, total population served, in thousands
* `TO-WGWFr` - Total groundwater withdrawals, fresh, in Mgal/d
* `TO-WGWSa` - Total groundwater withdrawals, saline, in Mgal/d
* `TO-WGWTo` - Total groundwater withdrawals, total (fresh+saline), in Mgal/d
* `TO-WSWFr` - Total surface-water withdrawals, fresh, in Mgal/d
*	`TO-WSWSa` - Total surface-water withdrawals, saline, in Mgal/d
* `TO-WSWTo` - Total surface-water withdrawals, total (fresh+saline), in Mgal/d
*	`TO-WFrTo` - Total withdrawals, fresh, in Mgal/d
*	`TO-WSaTo` - Total withdrawals, saline, in Mgal/d
*	`TO-WTotl` - Total withdrawals, total (fresh+saline), in Mgal/d

The dataset is in our GitHub Data repo at the link below:



```
https://raw.githubusercontent.com/envirodatascience/ENVS-617-Class-Data/main/usgs_water_use_10_15_subset%20-%20usgs_water_use_ORIGINAL.csv
```

## Data Clean Up Todos
List the data clean ups issues that you find here:

List of issues in the data

1. There are 1439 number of Missing values in the columns of 'PS-GWPop', 'PS-SWPop' and 3224 missing values in the column 'TO-WTotl'
2. One column is unnamed by the title 'Unnamed: 117' with 6447 missing values in it, which can be dropped
3. There are 2069 county but only 329 county FIPS
4. Data type of Total Population is float, it should be intger
5. Data type of PS-GWPop and PS-SWPop is object, it should be integer
6. Relationship between columns of total withdrawals fresh and saline should add up, which would create the total withdrawals columns. The relationship is not correct.
7. PS-SWPOP and PS-GWPOP should add and match with the PS-TWPOP due to missing values

## Data Checks
Below, begin your (organized) code to check and correct the data:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotnine as p9

In [2]:
link = 'https://raw.githubusercontent.com/envirodatascience/ENVS-617-Class-Data/main/usgs_water_use_10_15_subset%20-%20usgs_water_use_ORIGINAL.csv'
df = pd.read_csv(link)

In [3]:
df.head()

,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,TO-WGWFr,TO-WGWSa,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-WTotl,Unnamed: 117
0,AL,1,Autauga County,1,1001,2010,54.571,NaN,NaN,48.222,18.38,0.0,18.38,37.17,0.0,37.17,55.55,0.0,55.55,NaN
1,AL,1,Baldwin County,3,1003,2010,182.265,NaN,NaN,153.463,57.35,0.0,57.35,7.01,0.0,7.01,64.36,0.0,64.36,NaN
2,AL,1,Barbour County,5,1005,2010,27.457,NaN,NaN,25.555,6.71,0.0,6.71,4.34,0.0,4.34,11.05,0.0,11.05,NaN
3,AL,1,Bibb County,7,1007,2010,22.915,NaN,NaN,21.279,6.06,0.0,6.06,1.55,0.0,1.55,7.61,0.0,7.61,NaN
4,AL,1,Blount County,9,1009,2010,57.322,NaN,NaN,44.464,4.04,0.0,4.04,53.04,0.0,53.04,57.08,0.0,57.08,NaN

In [4]:
df[['COUNTY', 'STATE', 'COUNTYFIPS','FIPS']].value_counts()

COUNTY                STATE  COUNTYFIPS  FIPS
Abbeville County      SC     1           45001    2
Nance County          NE     125         31125    2
Napa County           CA     55          6055     2
Nash County           NC     127         37127    2
Nassau County         FL     89          12089    2
                                                 ..
Gurabo County         PR     63          72063    1
Orocovis County       PR     107         72107    1
Orocovis Municipio    PR     107         72107    1
San Sebastian County  PR     131         72131    1
Charles City          VA     36          51036    1
Name: count, Length: 3348, dtype: int64

In [5]:
df.dtypes

STATE            object
STATEFIPS         int64
COUNTY           object
COUNTYFIPS        int64
FIPS              int64
YEAR              int64
TP-TotPop       float64
PS-GWPop         object
PS-SWPop         object
PS-TOPop        float64
TO-WGWFr        float64
TO-WGWSa        float64
TO-WGWTo        float64
TO-WSWFr        float64
TO-WSWSa        float64
TO-WSWTo        float64
TO-WFrTo        float64
TO-WSaTo        float64
TO-WTotl        float64
Unnamed: 117    float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6447 entries, 0 to 6446
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         6447 non-null   object
 1   STATEFIPS     6447 non-null   int64
 2   COUNTY        6447 non-null   object
 3   COUNTYFIPS    6447 non-null   int64
 4   FIPS          6447 non-null   int64
 5   YEAR          6447 non-null   int64
 6   TP-TotPop     6447 non-null   float64
 7   PS-GWPop      5008 non-null   object
 8   PS-SWPop      5008 non-null   object
 9   PS-TOPop      6447 non-null   float64
 10  TO-WGWFr      6447 non-null   float64
 11  TO-WGWSa      6447 non-null   float64
 12  TO-WGWTo      6447 non-null   float64
 13  TO-WSWFr      6447 non-null   float64
 14  TO-WSWSa      6447 non-null   float64
 15  TO-WSWTo      6447 non-null   float64
 16  TO-WFrTo      6447 non-null   float64
 17  TO-WSaTo      6447 non-null   float64
 18  TO-WTotl      3224 non-null   float64
 19  Unnamed: 117  0 non-null      float64
dtypes: float64(12), int64(4), object(4)
memory usage: 1007.5+ KB

In [7]:
df['TP-TotPop'] = df['TP-TotPop'].astype(int)

convert NaN (Not a Number) values to null (None)

In [8]:
df_filledups = df.fillna(0)

In [9]:
df['PS-GWPop'] = df['PS-GWPop'].fillna(0) # Change 'NaN' to 0 in the 'PS-GWPop' column
df['PS-SWPop'] = df['PS-SWPop'].fillna(0)
df['PS-TOPop'] = df['PS-TOPop'].fillna(0)

In [10]:
# Before converting to int, ensure the columns are of numeric type (float).
# If the columns have mixed data types, convert to numeric and handle errors.
df['PS-GWPop'] = pd.to_numeric(df['PS-GWPop'], errors='coerce').fillna(0).astype(int)
df['PS-SWPop'] = pd.to_numeric(df['PS-SWPop'], errors='coerce').fillna(0).astype(int)
df['PS-TOPop'] = pd.to_numeric(df['PS-TOPop'], errors='coerce').fillna(0).astype(int)
df['TO-WGWFr'] = pd.to_numeric(df['TO-WGWFr'], errors='coerce').fillna(0).astype(int)
df['TO-WTotl'] = pd.to_numeric(df['TO-WTotl'], errors='coerce').fillna(0).astype(int) # Changed 'WTotl' to 'TO-WTotl'

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6447 entries, 0 to 6446
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         6447 non-null   object
 1   STATEFIPS     6447 non-null   int64
 2   COUNTY        6447 non-null   object
 3   COUNTYFIPS    6447 non-null   int64
 4   FIPS          6447 non-null   int64
 5   YEAR          6447 non-null   int64
 6   TP-TotPop     6447 non-null   int64
 7   PS-GWPop      6447 non-null   int64
 8   PS-SWPop      6447 non-null   int64
 9   PS-TOPop      6447 non-null   int64
 10  TO-WGWFr      6447 non-null   int64
 11  TO-WGWSa      6447 non-null   float64
 12  TO-WGWTo      6447 non-null   float64
 13  TO-WSWFr      6447 non-null   float64
 14  TO-WSWSa      6447 non-null   float64
 15  TO-WSWTo      6447 non-null   float64
 16  TO-WFrTo      6447 non-null   float64
 17  TO-WSaTo      6447 non-null   float64
 18  TO-WTotl      6447 non-null   int64
 19  Unnamed: 117  0 non-null      float64
dtypes: float64(8), int64(10), object(2)
memory usage: 1007.5+ KB

In [12]:
df.isna().sum()

STATE              0
STATEFIPS          0
COUNTY             0
COUNTYFIPS         0
FIPS               0
YEAR               0
TP-TotPop          0
PS-GWPop           0
PS-SWPop           0
PS-TOPop           0
TO-WGWFr           0
TO-WGWSa           0
TO-WGWTo           0
TO-WSWFr           0
TO-WSWSa           0
TO-WSWTo           0
TO-WFrTo           0
TO-WSaTo           0
TO-WTotl           0
Unnamed: 117    6447
dtype: int64

In [13]:
df[['STATE','STATEFIPS', 'COUNTY', 'COUNTYFIPS','FIPS']].nunique()

STATE           53
STATEFIPS       53
COUNTY        2069
COUNTYFIPS     329
FIPS          3226
dtype: int64

In [14]:
df.tail()

,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,TO-WGWFr,TO-WGWSa,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-WTotl,Unnamed: 117
6442,PR,72,Yabucoa Municipio,151,72151,2015,35,0,0,35,5,0.0,5.85,2.19,0.00,2.19,8.04,0.00,0,NaN
6443,PR,72,Yauco Municipio,153,72153,2015,37,0,0,37,2,0.0,2.26,4.22,0.00,4.22,6.48,0.00,0,NaN
6444,VI,78,St. Croix County,10,78010,2015,49,11,16,27,2,0.0,2.19,0.83,39.68,40.51,3.02,39.68,0,NaN
6445,VI,78,St. John County,20,78020,2015,4,0,0,0,0,0.0,0.08,0.12,0.06,0.18,0.20,0.06,0,NaN
6446,VI,78,St. Thomas County,30,78030,2015,50,3,19,23,0,0.0,0.40,1.75,60.16,61.91,2.15,60.16,0,NaN

In [15]:
df.shape

(6447, 20)

In [16]:
missingvalues = df.isnull().sum()
print(missingvalues)

STATE              0
STATEFIPS          0
COUNTY             0
COUNTYFIPS         0
FIPS               0
YEAR               0
TP-TotPop          0
PS-GWPop           0
PS-SWPop           0
PS-TOPop           0
TO-WGWFr           0
TO-WGWSa           0
TO-WGWTo           0
TO-WSWFr           0
TO-WSWSa           0
TO-WSWTo           0
TO-WFrTo           0
TO-WSaTo           0
TO-WTotl           0
Unnamed: 117    6447
dtype: int64

In [17]:
df.columns

Index(['STATE', 'STATEFIPS', 'COUNTY', 'COUNTYFIPS', 'FIPS', 'YEAR',
       'TP-TotPop', 'PS-GWPop', 'PS-SWPop', 'PS-TOPop', 'TO-WGWFr', 'TO-WGWSa',
       'TO-WGWTo', 'TO-WSWFr', 'TO-WSWSa', 'TO-WSWTo', 'TO-WFrTo', 'TO-WSaTo',
       'TO-WTotl', 'Unnamed: 117'],
      dtype='object')

In [18]:
df.duplicated().sum()

0

In [19]:
# Check if the column 'Unnamed: 0' exists before attempting to drop it.
if 'Unnamed: 117' in df.columns:
    df.drop(inplace=True, columns=['Unnamed: 117'])
else:
    print("Column 'Unnamed: 0' not found in DataFrame. Skipping drop operation.")

In [20]:
df.columns

Index(['STATE', 'STATEFIPS', 'COUNTY', 'COUNTYFIPS', 'FIPS', 'YEAR',
       'TP-TotPop', 'PS-GWPop', 'PS-SWPop', 'PS-TOPop', 'TO-WGWFr', 'TO-WGWSa',
       'TO-WGWTo', 'TO-WSWFr', 'TO-WSWSa', 'TO-WSWTo', 'TO-WFrTo', 'TO-WSaTo',
       'TO-WTotl'],
      dtype='object')